{:nrepl {:port 8777}

 :source-paths ["src" "test"]

 :dependencies [[binaryage/devtools "1.0.6"]
                [applied-science/js-interop "0.3.3"]
                [org.clojure/core.async "1.6.673"]]

 :dev-http {8280 "resources/public"}

 :builds {:app {:target :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:app {:init-fn main.core/init}}
                :devtools {
                           ;:autoload false
                           }
                :dev {:compiler-options {:warnings {:redef false}}}
                :release {:compiler-options {:source-map true}}}}}
